.rePost{
    display: flex;
    text-align: left;
    border: 1px solid greenyellow;
    margin-bottom: 5px;
}
.imgRePost img{
    width: 75px;
    height: 75px;
    object-fit: cover;
}
hangout-ligne{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
hangout-ligne h3{
    max-width: 55%;
}
.ligne{
    height: 3px;
    width: 45%;
    padding: 0 10px;
    background-color: fuchsia;   
}
.date_time{
    display: flex;
    justify-content: center;
    align-items: center;;
}
.textImgRePost span{
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: fuchsia;
}

    

