/* background image dans le slider  */
.imageSlider{
    background-image:  url("../images/pexels-lisa-fotios-1882410.jpg");
    
    /* Luminosité sur l'image */
      -webkit-filter : brightness(60%); /* Chrome, Safari, Opera */
      filter : brightness(60%); /* 100% = pas de changement sur l'image */
      text-align: center;
      margin: 0 auto;
  }  
.creatorImg{
  height: 50px;
  width: 50px;  
  margin: 0 auto;
}
.creatorImg img{
  width: 100%;
  border: 3px solid firebrick;
  border-radius: 50%;  
}
