@import url(./variables.css);
@import url(./header.css);
@import url(./slider.css);
@import url(./article.css);
@import url(./aside.css);
@import url(./footer.css);
@import url(./font.css);
@import url(./icon.css);


body{
    background-color: var(--first-bcground-color);
    color: var(--first-color);
    margin: 0;
    box-sizing: border-box;
    
}

.container_page{
    width: 1200px;
    display: flex;
    border: 3px solid rgb(34, 79, 34);
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    /*
    Justify-content sur le parent
        Contrôle l'alignement horizontal des éléments flexibles dans le conteneur. Les valeurs possibles sont flex-start (par défaut), flex-end, center, space-between et space-around. Ici j'utilise space-between pour avoir un élément qui colle à gauche (main) et un élément qui colle à droite c'est l'aside.
*/

}

/* HEADER  + voir feuille de style propre */
header{   
    width: 100%;    
}

h1{
    font-family: var(--logo);
}

/* SLIDER */
slider{
    max-width: 1600px;
    height: 480px;
    border: 3px solid saddlebrown;
    
}

/* MAIN */
main{
    max-width: 800px;
    border: 3px solid rgb(74, 155, 136);
    
}

/* ASIDE   + voir feuille de style propre */
aside{
    max-width: 332px;
    border: 3px solid goldenrod;
        
}


/* FOOTER + voir feuille de style propre */
footer{
    max-width: 100vw;
    border: 1px solid red;
    max-height: 300px;
}
