@import url(./variables.css);
@import url(./header.css);
@import url(./footer.css);
@import url(./font.css);

body{
    background-color: var(--first-bcground-color);
    color: var(--first-color);
}
h1{
    font-family: 'Source Code Pro', monospace;
}
container_page{
    max-width: 1200px;
}
main{
    max-width: 800px;
    border: 1px solid salmon;
    
    height: calc(100vh-(332px-140px));
}
aside{
    max-width: 400px;
    border: 1px solid palevioletred;
    height: calc(100vh-(332px-140px));
}